<%- include ("templates/head.ejs") %>
      <!--<h1>Bienvenido</h1>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><h2>final</h2>-->

  <main id="contenedor"> 
    <section id="section1">
    </section>
    
    <section id="section2">
      
    </section>
    <section id="section3">
        
    </section>
    
</main>
<%- include ("templates/footer.ejs") %>