<%- include ("templates/head.ejs") %>
<h1>Hola mundo - testing commit</h1>
<main id="contenedor">
  <section id="section1"></section>

  <section id="section2"></section>
  <section id="section3"></section>
</main>
<%- include ("templates/footer.ejs") %>
